.section-div {
    background-color: white;
    border-radius: 14px;
}

.section-div h2 {
    height: 55px;
    background: #D1E4DD40;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
    border-radius: 14px 14px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.input-group {
    background-color: #F5F6FA;
    border-radius: 8px;
    height: 40px;
    max-width: 250px;
    width: 100%;
    border: 0.6px solid lightgray;
}

.input-group-form-control {
    border-radius: 10px;
    background-color: #F5F6FA;
    border: none;
    box-shadow: none;
    height: 38px;
}
.mgf-unspc{
    font-size: 14px;
    color: grey;
}
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #0F4D50;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

input[type="text"] {
    font-size: 14px;
    border-radius: 10px;
    color: #999;
    padding-left: 15px;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.parent-buttons-group {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 100%;
    width: fit-content;
    padding: 10px;
    padding-bottom: 10px !important;
    border-radius: 14px 14px 0px 0px;
    background-color: #D1E4DD40;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #E4E4E4;
    overflow-x: scroll;
}

.parent-buttons-group::-webkit-scrollbar,
.category-buttons-group::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.parent-btn {
    white-space: nowrap;
    padding: 0px 10px 0px 10px;
    border-radius: 9px;
    min-width: 150px;
    height: 30px;
    background: #D1E4DD40;
    border: 1px solid #0F4D50;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    box-shadow: none;
}

.parent-btn:hover,
.parent-btn:active {
    color: white;
    background-color: #0F4D50;
    font-weight: 400;
}

.menu-secondary-group {
    border-radius: 14px 14px 14px 14px;
    background-color: white;
    padding: 13px;

}

.category-btn {
    width: fit-content;
    height: 30px;
    white-space: nowrap;
    padding: 0px 10px 0px 10px;
    border-radius: 14px;
    border: 1px solid #E4E4E4;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    box-shadow: none;
}

.category-btn:hover,
.category-btn:active {
    background-color: #D1E4DD40;
    color: #0F4D50;
    border: 1px solid #0F4D50;
    font-weight: 500px;
}

.category-buttons-group {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-bottom: 10px !important;

    overflow-x: scroll;
}

.food-item-card {
    width: 226px;
    height: 158px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.food-item-card img {
    height: 158px;
    height: 226px;
    object-fit: cover;
}

@media screen and (max-width:600px) {

    .food-item-card,
    .food-item-card img {
        width: 100%;
        height: 250px;
    }

    .menu-div {
        padding: 10px;
    }
}

.icon-group button {
    background-color: white;
    width: 24px;
    height: 24px;
    padding: 3px 3px 2px 3px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn .action-icon {
    width: 18px;
    height: 18px;
}

.name-div {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.name-div .card-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}

.name-div .card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: white;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

@media screen and (max-width:500px) {
    .menu-items {
        justify-content: center;
    }
}

.menu-secondary-group {
    background-color: transparent;
}

.card {
    border-radius: 16px;
    padding: 4px;
    border: 1px solid transparent;
    width: 260px;
    height: 283px;
    cursor: pointer;
    box-shadow: 0 16px 32px 0 rgba(80, 67, 67, .08), 0 0 16px rgba(80, 67, 67, .04);
    transition: box-shadow 0.3s ease;
}

.card .card-img-top {
    border-radius: 8px;
    width: 250px;
    height: 158px;
    object-fit: cover;
}

.card h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

.card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #595959;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

@media screen and (max-width:510px) {
    .sites {
        justify-content: center !important;
    }

    .card {
        width: 100% !important;
        height: 350px !important;
    }

    .card-img-top {
        width: 100% !important;
        height: 240px !important;
    }
}

.red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
/* .maindiv{
    height: 88vh;
    overflow-y: scroll;
}
.maindiv::-webkit-scrollbar{
    width: 0px;
    height: 0px;
} */
@media screen and (max-width:600px){
    .maindiv{
      height: auto;
    }
  }
  .number-input-container {
    display: flex;
    align-items: center;
  }
  
  .number-input {
    width: 80px;
    text-align: center;
    border: none;
    border-bottom: 3px solid #7f7f7f;
    font-size: 24px;
    margin-right: 5px;
    background-color: transparent;
  }
  
  .increment-btn, .decrement-btn {
    background: none;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }
  
  .increment-btn:disabled, .decrement-btn:disabled {
    color: lightgray;
    cursor: not-allowed;
  }
  .add-cart{
    height: 50px;
    width: 100%;
    max-width: 400px;
    background-color: #0F4D50;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
}
.view-div{
    background-color: #e0dede;
    border-radius: 8px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 120px;
    gap: 5px;
  }
  .active{
    background-color: white;
    border-radius: 8px !important;
    outline: 0;
    border: 0px;
    
  }
  .view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0px;
    width: 70px;
    height: 45px;
  }