/* @import url(../../../../styles/table.css); */

.active{
    background: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
 }
 .parent-btn{
height:57px;
padding: 10px 10px 20px 10px;
gap: 10px;
border-radius: 8px 8px 0px 0px;
opacity: 0px;
white-space: nowrap;
border: none;
 }
 .menu-secondary-group {
    border-radius: 0px 14px 14px 14px;
    background-color: white;
}
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #0F4D50;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.input-group {
    background-color: #F5F6FA;
    border-radius: 8px;
    height: 40px;
    max-width: 250px;
    width: 100%;
    border: 0.6px solid lightgray;
}

.input-group-form-control {
    border-radius: 10px;
    background-color: #F5F6FA;
    border: none;
    box-shadow: none;
    height: 38px;
}

.search-order-btn {
    color: #202224;
}
.input-group-text {
    background: none;
    border: none;
}

@media screen and (max-width:600px){
    .parent-buttons-group{
        width: auto !important;
        display: flex;
        overflow-x: scroll !important;
    }
    .parent-buttons-group::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
    .menu-div{
        padding: 10px;
    }
}