.container-fluid {
    background-color: #f9f9f9;
}

.card {
    max-width: 555px;
    min-height: 280px;
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}
h2{
font-size: 28px;
font-weight: 600;
line-height: 42px;
}
p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
max-width: 443px;
}
.color {
    color: #0F4D50;
}
.form-label{
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: #828487;
}
.input-group-text {
    background-color: #F8FAFC;
    border: 1px solid #ced4da;
    border-radius: 10px 0 0 10px;
}

.form-control {
    border-radius: 8px;
    height: 40px;
    border: 1.5px solid #E0E0E0;
font-size: 14px;
font-weight: 400;
line-height: 22px;
box-shadow: none;
}
a{
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
color: #0F4D50 !important;
text-decoration: none;
}
.mat-icon{
    cursor: pointer;
}
span{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;  
}
.btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    color: white;
    background-color: #0F4D50;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.onboard-head{
    max-width: 555px;
    width: 100%;
}