.data{
    font-size: 20px;
}
.price{
    background-color: #0F4D50;
    color: white;
    border-radius: 12px;
    padding: 5px 15px;
    font-weight: 600;
}
.send-request{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #0F4D50;
    border-radius: 8px;
    padding: 10px;
    width: 220px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.btn{
    box-shadow: none;
}