<div class="container-fluid py-4">
    <div class="row" *ngIf="data">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <img src="{{data.imageUrl}}" alt="{{data.materialId}}">
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{data.shortDescription}}</h4>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>Manufacturer Name:</strong> &nbsp;
                            <span>{{data.manufacturerName}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>Price:</strong> &nbsp; <span class="price">{{data.price |
                                currency}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>Material ID:</strong> &nbsp; <span>{{data.materialId}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>Insight Part Number:</strong> &nbsp;
                            <span>{{data.InsightPartNumber}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>Manufacturer Part Number:</strong> &nbsp;
                            <span>{{data.ManufacturerPartNumber}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>unspc:</strong> &nbsp; <span>{{data.unspc}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>category:</strong> &nbsp; <span>{{data.category}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="data"><strong>Quantity Available:</strong> &nbsp; <input type="number"
                                [(ngModel)]="quantity" class="form-control" min="1" [max]="data.QuantityAvailable" />
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <h5>{{data.LongDescription}}</h5>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="d-flex justify-content-center gap-3">
                            <button class="btn btn-danger" mat-dialog-close>Cancel</button>
                            <button class="btn send-request" (click)="addRequest(data, quantity)">Add Request <mat-icon>post_add</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>