<div class="form-div container-fluid">
    <div class="headdiv">
        <div class="heading d-flex align-items-center">
            <button
                class="btn p-1 d-flex align-items-center justify-content-center shadow-none"
                routerLink="/business-admin/contracts"
            >
                <mat-icon>chevron_left</mat-icon>
            </button>
            <h1>Create Contract</h1>
        </div>
        <div class="secondary-row">
            <div>
                <button class="btn send-btn">Save as Draft</button>
            </div>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="mt-3 section-div">
            <h2>Business Information</h2>
            <div class="row px-3">
                <div class="col-lg-3 col-md-6 mb-3" *ngIf="user">
                    <div class="order-head">Business Name</div>
                    <div class="order-data">{{ user?.fullName }}</div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="order-head">Business Contact</div>
                    <div class="order-data">{{ user?.phone || '001 587 991 8633' }}</div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="order-head">Business Email</div>
                    <div class="order-data">{{ user?.email }}</div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="order-head">Business Address</div>
                    <div class="order-data">{{ user?.address }}</div>
                </div>
            </div>
        </div>
        <div class="mt-3 section-div">
            <h2>Vendor Information</h2>
            <div class="row p-2">
                <div class="col-md-6">
                    <label for="vendor">Select Vendor</label>
                    <select
                        id="vendor"
                        class="form-select"
                        (change)="onVendorChange($event)"
                    >
                        <option value="">Select Vendor</option>
                        <option *ngFor="let vendor of vendors" [value]="vendor.id">
                            {{ vendor.name }}
                        </option>
                    </select>
                </div>
                <div class="col-md-6" >
                    <label>Vendor Contact</label>
                    <input
                        type="text"
                        class="form-control"
                        [value]="selectedVendor?.phone || ''"
                        readonly
                        placeholder="Vendor contact(readonly)"
                    />
                </div>
                <div class="col-md-6" >
                    <label>Vendor Email</label>
                    <input
                        type="text"
                        class="form-control"
                        [value]="selectedVendor?.email || ''"
                        readonly
                        placeholder="Vendor Email(readonly)"
                    />
                </div>
                <div class="col-md-6" >
                    <label>Vendor Address</label>
                    <input
                        type="text"
                        class="form-control"
                        [value]="selectedVendor?.address || ''"
                        readonly
                        placeholder="Vendor Address(readonly)"
                    />
                </div>
            </div>
        </div>
        <div class="section-div mt-3">
            <h2>Contract Details</h2>
            <div class="row p-2">
                <div class="col-md-4">
                    <label>Reference No</label>
                    <input
                    disabled
                        type="text"
                        class="form-control"
                        [(ngModel)]="referenceNo"
                        name="referenceNo"
                        placeholder="Enter Reference No"
                    />
                </div>
                <div class="col-md-4">
                    <label>Open Date</label>
                    <input
                        type="date"
                        class="form-control"
                        [(ngModel)]="openDate"
                        name="openDate"
                    />
                </div>
                <div class="col-md-4">
                    <label>Close Date</label>
                    <input
                        type="date"
                        class="form-control"
                        [(ngModel)]="closeDate"
                        name="closeDate"
                    />
                </div>
            </div>
        </div>
        <div class="button-group">
            <button class="btn add-btn" type="submit">Submit</button>
            <button
                class="btn cancel-btn"
                type="button"
                routerLink="/business-admin/contracts"
            >
                Cancel
            </button>
        </div>
    </form>
</div>
