<div class="form-div" [formGroup]="inventoryItemForm">
    <div class="headdiv">
        <div class="heading d-flex align-items-center">
            <button class="btn p-1 d-flex align-items-center justify-content-center shadow-none" routerLink="/business-admin/inventory">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <h1>{{ isEdit ? 'Edit Inventory Item' : 'Add Inventory Item' }}</h1>
        </div>
    </div>

    <div class="mt-3 section-div">
        <h2>Inventory Item Details</h2>
        <div class="row p-2">
            <!-- <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Select Vendor</label>
                    <select class="form-select" formControlName="vendor">
                        <option [value]="item.id" *ngFor="let item of vendors">{{item.name}}</option>
                    </select>
                </div>
            </div> -->
            
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Material ID</label>
                    <input type="text" class="form-control" formControlName="materialId" placeholder="Enter Material ID">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Part Number</label>
                    <input type="text" class="form-control" formControlName="partNumber" placeholder="Enter Part Number">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Price</label>
                    <input type="number" class="form-control" formControlName="price" placeholder="Enter Price">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Quantity Available</label>
                    <input type="number" class="form-control" formControlName="quantityAvailable" placeholder="Enter Quantity Available">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Manufacturer Part Number</label>
                    <input type="text" class="form-control" formControlName="manufacturerPartNumber" placeholder="Enter Manufacturer Part Number">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Manufacturer Name</label>
                    <input type="text" class="form-control" formControlName="manufacturerName" placeholder="Enter Manufacturer Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">Category</label>
                    <input type="text" class="form-control" formControlName="category" placeholder="Enter Category">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-div input-div-no-pad">
                    <label for="">UNSPSC</label>
                    <input type="number" class="form-control" formControlName="unspc" placeholder="Enter UNSPSC">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-div input-div-no-pad">
                    <label for="">Short Description</label>
                    <input type="text" class="form-control" formControlName="shortDescription" placeholder="Enter Short Description">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-div input-div-no-pad">
                    <label for="">Long Description</label>
                    <textarea rows="5" class="form-control my-textarea" formControlName="longDescription" placeholder="Enter Long Description"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="section-div mt-3">
        <h2>Inventory Item Image</h2>
        <div class="upload-container">
            <div class="upload-icon">
                <img *ngIf="uploadedImageUrl; else icon" [src]="uploadedImageUrl" alt="Uploaded image" class="image-preview">
                <ng-template #icon>
                    <img src="../../../../../../assets/icons/Picture.png" alt="Default image">
                </ng-template>
            </div>
            <div class="upload-details">
                <label for="fileInput" class="upload-label">
                    <span class="highlight">Upload</span> Inventory Item Image
                </label>
                <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" hidden>
                <p>SVG, PNG, JPG, or GIF <br> (max, 800 X 800px)</p>
            </div>
        </div>
        <div class="input-div">
            <label>Or Enter Image URL</label>
            <input type="text" class="form-control" formControlName="imageUrl" placeholder="Add Image URL">
        </div>
    </div>

    <div class="button-group">
        <button class="btn add-btn" (click)="saveInventoryItem()">{{ isEdit ? 'Save Changes' : 'Add Inventory Item' }}</button>
        <button class="btn cancel-btn" routerLink="/business-admin/inventory">Cancel</button>
    </div>
</div>
