<div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title">Create Requisition</h5>
      <button class="close-btn" [mat-dialog-close]="true">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="20" height="20" rx="5" stroke="#090909" stroke-width="1.5"/>
            <path d="M8.87845 13.1215L13.1211 8.87891" stroke="#090909" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.87845 8.87845L13.1211 13.1211" stroke="#090909" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
      </button>
    </div>
    <div class="modal-body">
      <div class="form-check custom-checkbox border-bottom">
        <input class="form-check-input" type="checkbox" id="includeRFQ">
        <label class="form-check-label" for="includeRFQ">Include RFQ Attachments</label>
      </div>
      <div class="form-check custom-checkbox">
        <input class="form-check-input" type="checkbox" id="includeResponse">
        <label class="form-check-label" for="includeResponse">Include Response Attachments</label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-create">Create Requisition
        <img src="../../../../../assets/newicons/Check.png" alt="">
      </button>
    </div>
  </div>
