<div class="container mt-4 px-5 py-2 overflow-auto download" #container >
  <h4 class="text-center">Purchase Order</h4>
  <!-- Company Info -->
  <div class="row mb-4 main-row">
    <div class="col-md-12 col-lg-6 ">
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Company Name</label>
        <span class="editable-field d-block">{{data.employees[0].name}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Street Address</label>
        <span class="editable-field d-block"> {{data.employees[0].address}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Phone Number</label>
        <span class="editable-field d-block">847-850-2577</span>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 text-end">
      <!-- <h5>PURCHASE ORDER</h5> -->
      <img
        src="../../../../../assets/WhatsApp Image 2024-11-18 at 2.30.06 PM.jpeg"
        width="60%"
      />
      <div class="d-flex justify-content-end align-items-baseline flex-onsmall gap-2">
        <label class="form-label">REQUESTED DATE</label>
        <span class="editable-field2 d-block">October 3rd, 2024</span>
      </div>
      <div class="d-flex justify-content-end align-items-baseline flex-onsmall gap-2">
        <label class="form-label">P.O. #</label>
        <span class="editable-field2 d-block">2982-XJ82-92</span>
      </div>
    </div>
  </div>

  <!-- Vendor and Ship To -->
  <div class="row main-row2 d-flex flex-row">
    <div class="col-md-12 col-lg-6">
      <h6 class="fw-bold">VENDOR</h6>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Company Name</label>
        <span class="editable-field d-block">{{data.unavailableProducts[0].product.vendor.name}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Contact</label>
        <span class="editable-field d-block">{{data.unavailableProducts[0].product.vendor.contactPerson}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Address</label>
        <span class="editable-field d-block">{{data.unavailableProducts[0].product.vendor.address}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Phone</label>
        <span class="editable-field d-block">{{data.unavailableProducts[0].product.vendor.phone}}</span>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <h6 class="fw-bold">SHIP TO</h6>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Name</label>
        <span class="editable-field d-block">{{data.users[0].fullName}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Company Name</label>
        <span class="editable-field d-block">{{data.users[0].fullName}}</span>
      </div>
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Address</label>
        <span class="editable-field d-block">{{data.users[0].address}}</span>
      </div>
      <!-- <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">City, ST, ZIP</label>
        <span class="editable-field d-block"> {{data.users[0].address}}</span>
      </div> -->
      <div class="d-flex align-items-baseline flex-onsmall gap-2">
        <label class="form-label">Phone</label>
        <span class="editable-field d-block">847-850-2577</span>
      </div>
    </div>
  </div>

  <!-- Table Section -->
  <div class="mt-4 table-responsive">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">ITEM</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">QUANTITY</th>
          <th scope="col">UNIT PRICE</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of data.unavailableProducts; let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>{{item.product.materialId}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.product.price | currency}}</td>
          <td>{{item.product.price * item.quantity | currency}}</td>
        </tr>
        <!-- <tr>
          <td>2</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>KG</td>
          <td>$10</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>KG</td>
          <td>$12</td>
        </tr> -->
      </tbody>
    </table>
  </div>

  <!-- Total Section -->
  <div class="row mt-3">
    <div class="col-md-6 col-lg-8">
      <p>NOTES/INSTRUCTIONS:</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="d-flex justify-content-between">
        <label class="form-label">Subtotal:</label>
        <span class="">$37</span>
      </div>
      <div class="d-flex justify-content-between">
        <label class="form-label">Tax (if applicable):</label>
        <span class="">$.50</span>
      </div>
      <div class="d-flex justify-content-between">
        <label class="form-label fw-bold">Total:</label>
        <span class="">{{data.totalPrice | currency}}</span>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions class="d-flex justify-content-between flex-onsmall">
  <button class="btn check border gap-2">
      <span class="btn-span">Place Purchase Order</span>
      <mat-icon class="btn-icon">check</mat-icon>
  </button>
  <button class="btn close border gap-2" mat-dialog-close>
      <span class="btn-span">Reject Purchase Order</span>
      <mat-icon class="btn-icon">close</mat-icon>
  </button>
</mat-dialog-actions>
