@import url(../../../../styles/form.css);
.container {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.editable-field {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 100%;
  min-height: 1.5rem;
  text-align: end;
}
.editable-field2 {
  display: inline-block;
  border-bottom: 1px solid #000;
  width: 50%;
  min-height: 1.5rem;
}

.editable-field:empty::after {
  content: "\00a0";
  display: inline-block;
}

.form-label {
  white-space: nowrap;
}

h4,
h5,
h6 {
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  color: #000;
}

@media (max-width: 768px) {
  .text-end {
    text-align: left !important;
  }
  .main-row{
      flex-direction: column-reverse;
  }
  .main-row2{
      flex-direction: column;
  }
  .button-group{
    margin-right:0 !important;
    justify-content: center !important;
    padding: 0 2rem;
  }
}
.check, .check:active{
  background-color: #0F4D50;
  color: white;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-span{
  color:white !important;
}
.btn-icon{
  border: 2px solid #ffffff;
font-size: 14px;
color:#ffffff;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
border-radius:6px;
line-height: 0px;
}
.close, .close:active{
 background-color: #CE6D6D;
 color: white;
 width: 49%;
 display: flex;
 align-items: center;
 justify-content: center;
}

@media screen and (max-width:600px){
  .flex-onsmall{
    flex-direction: column;
    margin-top: 10px;
    gap: 0px !important;
  }
  label{
    margin-bottom: 0px !important;
  }
  .editable-field{
    text-align: start;
    white-space: wrap !important;
  }
  .container{
    padding: 10px 10px !important;
  }
  .check, .close{
    width: 100% !important;
  }
}