<div class="menu-div">
    <div class="headdiv ">
        <div class="heading">
            <h1>Hardware Requests </h1>
        </div>
    </div>
    <div class="main-menu-div mt-3">
        <div class="parent-buttons-group pb-0 gap-2">
            <button class="btn parent-btn" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" routerLink="/business-admin/hardware-requests/pending-requests">Pending Requests</button>
            <button class="btn parent-btn" routerLinkActive="active" routerLink="/business-admin/hardware-requests/completed-requests">Completed Requests</button>
            <button class="btn parent-btn" routerLinkActive="active" routerLink="/business-admin/hardware-requests/rejected-requests">Rejected Requests</button>
            <button class="btn parent-btn" routerLinkActive="active" routerLink="/business-admin/hardware-requests/cancelled-requests">Cancelled Requests</button>
        </div>
        <div class="menu-secondary-group">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
