<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 mat-dialog-title>Request</h2>
        <mat-icon class="icon">close</mat-icon>
    </div>
    <mat-dialog-content class="mat-typography">
        <div class="row row1">
            <h3>Hey I need These Products 🥺</h3>
            <div class="col-md-6">
                <div class="mb-3">
                    <h4>Employee Name:</h4>
                    <span>James Anderson</span>
                </div>
                <div class="mb-3">
                    <h4>Employee Email:</h4>
                    <span>JamesAnderson&#64;gmail.com</span>
                </div>
                <div class="mb-3">
                    <h4>Employee Contact:</h4>
                    <span>001 393 393 3923</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <h4>Vendor Name:</h4>
                    <span>Brendon McCullum</span>
                </div>
                <div class="mb-3">
                    <h4>Vendor Email:</h4>
                    <span>Brendon&#64;gmail.com</span>
                </div>
                <div class="mb-3">
                    <h4>Vendor Contact:</h4>
                    <span>001 393 393 3923</span>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Description:</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusamus cumque voluptates impedit!</span>
            </div>
        </div>

        <div class="row">
            <div class="table-div p-0">
                <div class="table-container p-0 mt-2">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="one">No</th>
                                    <th scope="col">Material ID</th>
                                    <th scope="col">Employee Email</th>
                                    <th scope="col" class="two">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of request">
                                    <td>{{item?.no}}</td>
                                    <td>{{item?.materialid}}</td>
                                    <td>{{item?.employeeEmail}}</td>
                                    <td>{{item?.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end gap-2">
                            <h4>Total Amount:</h4>
                            <span class="amount">$1071.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-between">
        <button class="btn check border gap-2">
            <span class="btn-span">Approve Request</span>
            <mat-icon class="btn-icon">check</mat-icon>
        </button>
        <button class="btn close border gap-2" mat-dialog-close>
            <span class="btn-span">Reject Request</span>
            <mat-icon class="btn-icon">close</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
