<div class="container-fluid p-0 overflow-hidden">
  <div class="headdiv mb-4">
    <h1>RMA</h1>
  </div>
  <div class="menu-div">
    <div class="order-types-tables">
      <div class="d-flex justify-content-end my-2">
        <select class="form-select border-0 w-auto shadow-none">
          <option value="" disabled selected>Review Status</option>
          <option value="name">Pending</option>
          <option value="date">Approved</option>
          <option value="amount">Returned</option>
        </select>

        <select class="form-select border-0 w-auto shadow-none">
          <option value="" disabled selected>sort</option>
          <option value="name">By Name</option>
          <option value="date">By Date</option>
          <option value="amount">By Amount</option>
        </select>
      </div>
      <div class="table-container p-0 mt-2">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="one">
                  <div class="table-data">RMA No</div>
                </th>
                <th scope="col">
                  <div class="table-data">Employee Name</div>
                </th>
                <th scope="col">
                  <div class="table-data">Employee Email</div>
                </th>
                <th scope="col">
                  <div class="table-data">Vender Name</div>
                </th>
                <th scope="col">
                  <div class="table-data">Requested Date</div>
                </th>
                <th scope="col">
                  <div class="table-data">Return Date</div>
                </th>
                <th scope="col">
                  <div class="table-data">Total Amount</div>
                </th>
                <th scope="col">
                  <div class="table-data">status</div>
                </th>
                <th scope="col" class="two"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of paginatedData; let i = index">
                <tr>
                  <td>
                    <div class="table-data">
                      {{ item.rmano }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.employeename }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.employeeemail }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.venderName }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.requesteddate }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.returndate }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.totalamount | currency }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      <div class="status p-2" [ngClass]="{
                        completed: item.status === 'Approved',
                        rejected: item.status === 'Returned',
                        inactive: item.status === 'Pending'
                      }">
                        {{ item.status }}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="table-data d-flex gap-1 justify-content-end">
                      <button class="btn "
                        (click)="openDialog()">
                        <img src="../../../../../assets/newicons/message square.png" alt="">
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <li class="page-item" [class.disabled]="!isPreviousPageAvailable()">
              <a class="paginator-button" (click)="previousPage()">
                <mat-icon>chevron_left</mat-icon>
              </a>
            </li>
            <ng-container *ngFor="let page of [].constructor(totalPages); let index = index">
              <li class="page-item" [ngClass]="{ 'active-page': currentPage === index + 1 }">
                <a class="paginator-button" (click)="goToPage(index + 1)">
                  {{ index + 1 }}
                </a>
              </li>
            </ng-container>
            <li class="page-item" [class.disabled]="!isNextPageAvailable()">
              <a class="paginator-button" (click)="nextPage()">
                <mat-icon>chevron_right</mat-icon>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>