@import url(../../../../styles/table.css);

.container {
  max-width: 650px;
  width: 650px;
  padding-left: 0 !important;
}
.mdc-dialog__title {
  color: black;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px !important;
  white-space: nowrap;
  padding: 0 0 0 12px;
}
h3 {
  color: #292524;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 0px;
}
h4 {
  color: #292524;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px !important;
  white-space: nowrap;
}
span {
  color: #57534e !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.row1 {
  border: 1px solid #e4e4e4;
  padding: 10px;
  border-radius: 8px;
}
.col-md-6 span,
.col-md-12 span {
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-bottom: 5px !important;
}
thead tr th {
  font-weight: 500 !important;
}
.icon {
  border: 2px solid #090909;
  font-size: 14px;
  color: #090909;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .container {
    width: auto;
    max-width: auto;
  }
}
.check,
.check:active {
  background-color: #0f4d50;
  color: white;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-span {
  color: white !important;
}
.btn-icon {
  border: 2px solid #ffffff;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  line-height: 0px;
}
.close,
.close:active {
  background-color: #ce6d6d;
  color: white;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}
