<div class="headdiv">
  <div class="heading">
    <h1>Purchase Order </h1>
  </div>
  <div class="secondary-row">
    <div class="input-group">
      <input type="text" class="form-control input-group-form-control" placeholder="Search Purchase Order"
        aria-label="Quick Search" (input)="onInputChange($event)">
      <button class="btn search-order-btn" type="button" id="button-addon2">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div *ngIf="showMergeOptions">
      <!-- <select class="form-select" id="vendors-list" (change)="onVendorChange($event)">
        <option value="" disabled selected>Vendor's List</option>
        <option *ngFor="let vendor of uniqueVendors" [value]="vendor.id">
          {{ vendor.name }}
        </option>
      </select>       -->

      <select class="form-select" id="vendors-list" (change)="onVendorChange($event)">
        <option value="" disabled selected>Vendor's List</option>
        <option value="0">All Vendors</option> <!-- "All" option -->
        <option *ngFor="let vendor of uniqueVendors" [value]="vendor.id">
          {{ vendor.name }}
        </option>
      </select>
      
    </div>
    <div *ngIf="!showMergeOptions">
      <button class="btn add-btn" (click)="showMergeOptions = true">
        Merge Orders
        <img src="../../../../../assets/newicons/Layers.png" alt="" />
      </button>
    </div>
    <div *ngIf="showMergeOptions">
      <button class="btn add-btn" (click)="mergeSelectedOrders()">
        Merge Selected Orders
        <img src="../../../../../assets/newicons/Layers.png" alt="" />
      </button>
    </div>
    <div *ngIf="showMergeOptions" >
      <button class="btn cancel-btn" (click)="showMergeOptions = false">
        Cancel Merge
        <img src="../../../../../assets/Close.png" alt="cancel" class="mx-1" />
      </button>
    </div>
    <div *ngIf="!showMergeOptions">
      <button class="btn add-btn" routerLink="/business-admin/purchase-orders/purchase-order-form">
        Add Purchase Order
        <img src="../../../../../../assets/icons/Plus.png" alt="" />
      </button>
    </div>
  </div>
</div>
<div class="table-container p-2 mt-2">
  <div class="d-flex justify-content-end flex-wrap mb-2 gap-2 bg-none">
    <select class="form-select bg-none filter-select w-auto shadow-0"
    [(ngModel)]="selectedSortOption" 
    (change)="sortData()">
      <option value="" disabled selected>sort</option>
      <option value="name">By Name</option>
      <option value="date">By Date</option>
    </select>
  </div>
  <div class="table-responsive">
    <table class="table table-hover ">
      <thead class="thead-dark ">
        <tr>
          <th scope="col" class="one">
            <div class="table-data">
              <div class="d-flex gap-2 align-items-center">
                <input *ngIf="showMergeOptions" class="form-check-input" type="checkbox"
                  [(ngModel)]="masterCheckboxChecked" (change)="toggleAllCheckboxes($event)">
                <div>
                  Purchase Order No
                </div>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="table-data">
              Vendor Name
            </div>
          </th>
          <th scope="col">
            <div class="table-data">
              Total items
            </div>
          </th>
          <th scope="col">
            <div class="table-data">
              Employee Name
            </div>
          </th>
          <th scope="col">
            <div class="table-data">
              Price
            </div>
          </th>
          <th scope="col">
            <div class="table-data">Status</div>
          </th>
          <th scope="col" class="two"></th>

        </tr>
      </thead>
      <tbody>
        <ng-container class="w-100" *ngIf="loading">
          <tr class="w-100">
              <td colspan="7" class="my-0 border-bottom-0 p-0">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </td>
          </tr>
      </ng-container >
        <ng-container *ngFor="let item of filteredData; let i = index">
          <tr>
            <td>
              <div class="table-data">
                <div class="d-flex gap-2 align-items-center">
                  <input *ngIf="showMergeOptions" class="form-check-input" type="checkbox" value=""
                    [(ngModel)]="item.checked" id="flexCheckChecked">
                  <div>
                    {{ item.uniqueCode }}
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="table-data">
                {{ item?.unavailableProducts[0]?.product.vendor.name }}
              </div>
            </td>
            <td>
              <div class="table-data">
                {{ item?.unavailableProducts.length }}
              </div>
            </td>
            <td>
              <div class="table-data">
                {{ item?.employees[0]?.name }}
              </div>
            </td>
            <td>
              <div class="table-data">
                {{ item.totalPrice | currency }}
              </div>
            </td>
            <td>
              <div class="table-data">
                <div class="status p-2" [ngClass]="{
                    completed: item?.unavailableProducts[0]?.poStatus === 'Ordered',
                    rejected: item?.unavailableProducts[0]?.poStatus === 'Rejected',
                    inprogress: item?.unavailableProducts[0]?.poStatus == undefined || item?.unavailableProducts[0]?.poStatus === 'Pending'
                  }">
                  {{ item?.unavailableProducts[0]?.poStatus || 'Pending' }}
                </div>
              </div>
            </td>
            <td>
              <div class="table-data d-flex gap-1 w-100 justify-content-end">
                <button class="btn visibility" (click)="openDialog(item)" matTooltip="View Order">
                  <img src="../../../../../assets/newicons/message square.png">
                </button>
                <!-- <button class="btn" routerLink="/business-admin/purchase-orders/purchase-order-form"
                  matTooltip="Edit Order"><img src="../../../../../assets/icons/Union.png"></button> -->
                <button class="btn"><img src="../../../../../assets/icons/Trash can.png"
                    matTooltip="Delete Order"></button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start">
      <li class="page-item" [class.disabled]="!isPreviousPageAvailable()">
        <a class="paginator-button" (click)="previousPage()">
          <mat-icon>chevron_left</mat-icon>
        </a>
      </li>
      <ng-container *ngFor="let page of [].constructor(totalPages); let index = index">
        <li class="page-item" [ngClass]="{'active-page': currentPage === index + 1}">
          <a class="paginator-button" (click)="goToPage(index + 1)">
            {{ index + 1 }}
          </a>
        </li>
      </ng-container>
      <li class="page-item" [class.disabled]="!isNextPageAvailable()">
        <a class="paginator-button" (click)="nextPage()">
          <mat-icon>chevron_right</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>