<div class="table-div">
  <div class="headdiv">
    <div class="heading">
      <h1>Purchase Requests</h1>
    </div>
    <div class="secondary-row">
      <div class="input-group">
        <input type="text" class="form-control input-group-form-control" placeholder="Search Purchase Request"
          aria-label="Quick Search">
        <button class="btn search-order-btn" type="button" id="button-addon2">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="table-container p-2 mt-2">
    <div class="d-flex justify-content-end flex-wrap mb-2 gap-2 bg-none">
      <select class="form-select bg-none filter-select w-auto shadow-none">
        <option value="" disabled selected>Employee</option>
        <option value="name">Saad Khan</option>
        <option value="date">Ihtizaz Ahmad</option>
      </select>

      <select class="form-select bg-none filter-select w-auto shadow-none">
        <option value="" disabled selected>sort</option>
        <option value="name">By Name</option>
        <option value="date">By Date</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="one">
              <div class="table-data">No</div>
            </th>
            <th scope="col">
              <div class="table-data">Employee</div>
            </th>
            <th scope="col">
              <div class="table-data">Employee Email</div>
            </th>
            <th scope="col">
              <div class="table-data">Date</div>
            </th>
            <th scope="col">
              <div class="table-data">Description</div>
            </th>
            <th scope="col">
              <div class="table-data">Status</div>
            </th>
            <th scope="col" class="two"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let item of paginatedData; let i = index">
              <td>
                <div class="table-data">
                  {{ item.no }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ item.employeename }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ item.employeeemail }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ item.date }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ item.description }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  <div class="status p-2" [ngClass]="{
                      completed: item.status === 'Approved',
                      rejected: item.status === 'Rejected',
                      inactive: item.status === 'Pending'
                    }">
                    {{ item.status }}
                  </div>
                </div>
              </td>
              <td>
                <div class="table-data d-flex gap-1 justify-content-end">
                  <button class="btn visibility" (click)="openDialog()" matTooltip="View Request">
                    <img src="../../../../../../assets/newicons/Eye.png">
                  </button>
                  <button class="btn" routerLink="/business-admin/purchase-request/purchase-request-form"
                    matTooltip="Edit Request"><img src="../../../../../assets/icons/Union.png"></button>
                  <button class="btn"><img src="../../../../../assets/icons/Trash can.png"
                      matTooltip="Delete Request"></button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <nav aria-label="Page navigation example" class="m-2">
        <ul class="pagination justify-content-start">
          <li class="page-item" [class.disabled]="!isPreviousPageAvailable()">
            <a class="paginator-button" (click)="previousPage()">
              <mat-icon>chevron_left</mat-icon>
            </a>
          </li>

          <ng-container *ngFor="let page of [].constructor(totalPages); let index = index">
            <li class="page-item" [ngClass]="{ 'active-page': currentPage === index + 1 }">
              <a class="paginator-button" (click)="goToPage(index + 1)">
                {{ index + 1 }}
              </a>
            </li>
          </ng-container>

          <li class="page-item" [class.disabled]="!isNextPageAvailable()">
            <a class="paginator-button" (click)="nextPage()">
              <mat-icon>chevron_right</mat-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>