<div class="menu-div">
    <div class="order-types-tables">
        <div class="buttons-group">
          <button class="btn nav-btn" routerLink="/business-admin/requests/hardware-requests/pending-requests" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Pending Requests</button>
          <button class="btn nav-btn" routerLink="/business-admin/requests/hardware-requests/rejected-requests"
            routerLinkActive="active">Rejected Requests</button>
          <button class="btn nav-btn" routerLink="/business-admin/requests/hardware-requests/completed-requests"
            routerLinkActive="active">Completed Requests</button>
          <button class="btn nav-btn" routerLink="/business-admin/requests/hardware-requests/cancelled-requests"
            routerLinkActive="active">Cancelled Requests</button>
        </div>
        <router-outlet></router-outlet>
      </div>
</div>
