<div class="d-flex flex-wrap justify-content-between gap-2">
    <div class="statistics-card mb-1">
        <div class="stat-card">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Open Requests</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">255</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+11.01%</div>
                        </div>
                        <!-- <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div> -->
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statistics-card mb-1">
        <div class="stat-card-2">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Pending Approvals</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">32</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+18.01%</div>
                        </div>
                        <!-- <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div> -->
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statistics-card mb-1">
        <div class="stat-card-3">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Open POs</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">185</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+33.01%</div>
                        </div>
                        <!-- <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div> -->
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statistics-card mb-1">
        <div class="stat-card-2">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Total Month Spends</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">10K</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+29.01%</div>
                        </div>
                        <!-- <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div> -->
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statistics-card mb-1">
        <div class="stat-card">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Total Year Spend</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">132K</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+33.01%</div>
                        </div>
                        <!-- <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div> -->
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>