<div class="row justify-content-between">
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card" (click)="gotoOrders()">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Total Orders</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">7,255</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card-2">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Total Employees</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">7,255</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Purchase Orders</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">7,255</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card-2">
            <div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex gap-2 align-items-center">
                        <img src="../../../../../assets/newicons/projector-screen-chart.png" alt="">
                        <span class="stat-head">Hardware Requests</span>
                    </div>
                    <div>
                        <img src="../../../../../assets/newicons/Up Right.png" alt="">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">7,255</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/up.png" alt=""></div>
                            <div class="stat-per-up">+11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center justify-content-end">
                            <div><img src="../../../../../assets/newicons/down.png" alt=""></div>
                            <div class="stat-per-down">-11.01%</div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="time">from last month</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>