
.stat-card{
    background-color: #EDEEFC;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
}
.stat-card-2{
    background-color: #E6F1FD;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;

}
.stat-card-3{
    background-color: #E6EAD7;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;

}
.statistics-card{
    width: 19.5%;
}
.col-lg-3{
    padding: 0px 4px;
}
.number{
    font-size: 40px;
    font-weight: 600;
    line-height: 46.88px;
}
.stat-head{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.stat-per-up{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #0F4D50;    
}
.stat-per-down{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #4682B4;    
}
.time{
font-size: 12px;
font-weight: 500;
line-height: 18px;
color: #828487;
}
@media screen and (max-width:1550px){
    .statistics-card{
        width: 350px;
    }
}