<div class="row">
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card">
            <div>
                <span class="stat-head">Total Orders</span>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">7,255</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">+11.01%</div>
                            <div><img src="../../../../../assets/icons/ArrowRise.png" alt=""></div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">-11.01%</div>
                            <div><img src="../../../../../assets/icons/Icon.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card-2">
            <div>
                <span class="stat-head">Payments</span>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">3,671</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">+11.01%</div>
                            <div><img src="../../../../../assets/icons/ArrowRise.png" alt=""></div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">-11.01%</div>
                            <div><img src="../../../../../assets/icons/Icon.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card">
            <div>
                <span class="stat-head">Deliveries</span>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">156</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">+11.01%</div>
                            <div><img src="../../../../../assets/icons/ArrowRise.png" alt=""></div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">-11.01%</div>
                            <div><img src="../../../../../assets/icons/Icon.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
        <div class="stat-card-2">
            <div>
                <span class="stat-head">Approvals</span>
                <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="number">2,318</div>
                    <div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">+11.01%</div>
                            <div><img src="../../../../../assets/icons/ArrowRise.png" alt=""></div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <div class="stat-per">-11.01%</div>
                            <div><img src="../../../../../assets/icons/Icon.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>