<div class="form-div" >
  <div class="headdiv">
      <div class="heading d-flex align-items-center">
          <button class="btn p-1 d-flex align-items-center justify-content-center shadow-none" routerLink="/business-admin/purchase-request">
              <mat-icon>chevron_left</mat-icon>
          </button>
          <h1>Purchase Request</h1>
      </div>
  </div>

  <div class="mt-3 section-div">
      <h2>Employee Details</h2>
      <div class="row p-2">
          <div class="col-md-6">
              <div class="input-div input-div-no-pad">
                  <label for="">Employee Name</label>
                  <input type="text" class="form-control"  placeholder="Enter Employee Name" disabled>

              </div>
          </div>
          <div class="col-md-6">
              <div class="input-div input-div-no-pad">
                  <label for="">Employee Email</label>
                  <input type="text" class="form-control"  placeholder="Enter Employee Email" disabled>
              </div>
          </div>
          <div class="col-md-6">
              <div class="input-div input-div-no-pad">
                  <label for="">Requested Date</label>
                  <input type="date" class="form-control" >
              </div>
          </div>
          <div class="col-md-6">
              <div class="input-div input-div-no-pad">
                  <label for="">Total Amount</label>
                  <input type="text" class="form-control" placeholder="Enter Total Ammount" disabled>
              </div>
          </div>
          <div class="col-md-12">
              <div class="input-div input-div-no-pad">
                  <label for="">Description</label>
                  <input  class="form-control" placeholder="Enter Description">
              </div>
          </div>
      </div>
  </div>

  <div class="mt-3 section-div">
      <div>
          <h2>Item Details</h2>
      </div>
      <div class="table-container p-2">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead class="thead-dark ">
                      <tr>
                          <th scope="col" class="one">
                              <div class="table-data">
                                  No
                              </div>
                          </th>
                          <th scope="col">
                            <div class="table-data">
                                Vendor Name
                            </div>
                        </th>
                        <th scope="col">
                            <div class="table-data">
                                Vendor Email
                            </div>
                        </th>
                          <th scope="col">
                              <div class="table-data">
                                  Item Name
                              </div>
                          </th>
                          <th scope="col">
                              <div class="table-data">
                                  Order Quantity
                              </div>
                          </th>
                          <th scope="col" class="two">
                              <div class="table-data">
                                  Item Price
                              </div>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <div class="table-data">01</div>
                          </td>
                          <td>
                            <div class="table-data">
                                <div class="input-div input-div-no-pad">
                                    <select name="" id="" class="form-select new-width">
                                        <option value="Vendor A">Vendor A</option>
                                        <option value="Vendor B">Vendor B</option>
                                        <option value="Vendor C">Vendor C</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="table-data w-100">
                                <input type="email" name="" id="" class="form-control new-width" placeholder="Enter Vendor Email">
                            </div>
                        </td>
                          <td>
                              <div class="table-data">
                                  <div class="input-div input-div-no-pad">
                                      <select name="" id="" class="form-select new-width">
                                          <option value="laptop">Laptop</option>
                                          <option value="monitor">Monitor</option>
                                          <option value="keyboard">Keyboard</option>
                                      </select>
                                  </div>
                              </div>
                          </td>
                          <td>
                              <div class="table-data w-100">
                                  <input type="number" name="" id="" class="form-control new-width" placeholder="Enter Quantity">
                              </div>
                          </td>
                          <td>
                              <div class="table-data">$200</div>
                          </td>

                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="button-group">
              <button class="btn add-btn" >Add Item</button>
          </div>
      </div>
  </div>
    

  <div class="button-group">
      <button class="btn add-btn" >Add Purchase Request</button>
      <button class="btn cancel-btn" routerLink="/business-admin/purchase-request">Cancel</button>
  </div>
</div>
