<div class="container-fluid px-0 overflow-hidden">
    <div class="form-div">
        <div class="headdiv">
            <div class="heading d-flex align-items-center">
                <button type="button" class="btn p-1 d-flex align-items-center justify-content-center shadow-none"
                    routerLink="/business-admin/disputes">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <h1>Disputes</h1>
            </div>
            <div class="secondary-row">
                <button class="btn add-btn" >Resolve Dispute <img src="../../../../../assets/newicons/Send.png" alt=""></button>
            </div>
        </div>
        <div class="mt-3 section-div ">
            <div>
                <h2>Invoice Details</h2>
            </div>
            <div class="px-3">
                <div class="row">
                    <div class="col-lg-2 col-md-4 mb-3">
                        <div class="order-head">Purchase Order No</div>
                        <div class="order-data">01</div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-3">
                        <div class="order-head">Employee Name</div>
                        <div class="order-data">Dexter Stevens</div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-3">
                        <div class="order-head">Vendor Name</div>
                        <div class="order-data">Brandon Lee</div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-3">
                        <div class="order-head">Requested Date</div>
                        <div class="order-data">25th Jan, 2027</div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-3">
                        <div class="order-head">Received Date</div>
                        <div class="order-data">25th Jan, 2027</div>
                    </div>
                    <div class="col-lg-2 col-md-4 mb-3">
                        <div class="order-head">Total Amount</div>
                        <div class="order-data">$3533</div>
                    </div>
                </div>
            </div>
        </div>
    <div class="section-div mt-3">
        <div>
            <h2>Chat with Vendor</h2>
        </div>
    </div>
    </div>
</div>