<div class="container-fluid px-0 overflow-hidden">
    <div class="form-div">
        <div class="headdiv">
            <div class="heading d-flex align-items-center">
                <button type="button" class="btn p-1 d-flex align-items-center justify-content-center shadow-none"
                    routerLink="/business-admin/receiving">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <h1>Review Order</h1>
            </div>
            <!-- <div class="sec d-flex justify-content-between align-items-center">
                    <button class="btn send-btn" (click)="sendToRMA()">
                        Send to RMA
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="5" stroke="#090909" stroke-opacity="0.5"
                                stroke-width="1.5" />
                            <path d="M11.5 16L11.5 10" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.5 10L11.5 10" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11.5 7L11.5 6" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
            </div> -->
            <div class="secondary-row">
                <div class="sec d-flex justify-content-between align-items-center">
                    <button class="btn send-btn" (click)="sendToRMA()">
                        Send to RMA
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="5" stroke="#090909" stroke-opacity="0.5"
                                stroke-width="1.5" />
                            <path d="M11.5 16L11.5 10" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.5 10L11.5 10" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11.5 7L11.5 6" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div>
                    <button class="btn clear-btn" (click)=" openDialog(selectedOrder)">
                        Clear Received Order
                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1.5" y="1" width="20" height="20" rx="5" stroke="white" stroke-width="1.5" />
                            <path d="M9 10.5L11 12.5L15 8.5" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-3 section-div ">
            <div>
                <h2>Employee Details</h2>
            </div>
            <div class="px-3">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="order-head">Purchase Order No</div>
                        <div class="order-data">{{selectedOrder?.id}}</div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="order-head">Employee Name</div>
                        <div class="order-data">Dexter Stevens</div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="order-head">Vendor Name</div>
                        <div class="order-data">{{selectedOrder?.vendor[0]?.name}}</div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="order-head">Requested Date</div>
                        <div class="order-data">{{selectedOrder?.createdAt | date}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex gap-2 justify-content-end my-2">
            <button class="btn add-btn">Scan BarCode</button>
            <button class="btn cancel-btn">Cancel</button>
        </div> -->
        <div class="mt-3 section-div">
            <!-- <div class="sec d-flex justify-content-between align-items-center">
                <h2>Requested Item </h2>
                <button class="btn clear-btn" [disabled]="isAnyCheckboxChecked" (click)=" openDialog(selectedOrder)">
                    Clear Received Order
                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.5" y="1" width="20" height="20" rx="5" stroke="white" stroke-width="1.5" />
                        <path d="M9 10.5L11 12.5L15 8.5" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div> -->
            <div class="table-container p-2">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="one">
                                    <div class="table-data d-flex gap-2">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="allChecked"
                                            (change)="toggleAllCheckboxes($event)">
                                        No
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Item Name</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Order Quantity</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Received Quantity</div>
                                </th>
                                <!-- <th scope="col">
                                    <div class="table-data">Broken Quantity</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Wrong Item Quantity</div>
                                </th> -->
                                <th scope="col" class="two"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container class="w-100" *ngIf="loading">
                                <tr class="w-100">
                                    <td colspan="7" class="my-0 border-bottom-0 p-0">
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </td>
                                </tr>
                            </ng-container >
                            <tr *ngFor="let item of selectedOrder?.products; let i = index">
                                <td>
                                  <div class="table-data gap-2 d-flex">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="item.checked" (change)="onCheckboxChange()">
                                    {{ i + 1 }}
                                  </div>
                                </td>
                                <td>
                                  <div class="table-data">{{ item?.product?.materialId }}</div>
                                </td>
                                <td>
                                  <div class="table-data">{{ item?.quantity }}</div>
                                </td>
                                <td>
                                  <div class="table-data">N/A</div>
                                </td>
                                <td>
                                  <div class="table-data d-flex gap-1 w-100 justify-content-end" (click)="toggleEdit(item, i)">
                                    <button class="btn" matTooltip="Edit">
                                      <img src="../../../../../assets/icons/Union.png" alt="Edit" />
                                    </button>
                                  </div>
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row p-2" *ngIf="isEditing">
                <div class="col-md-4">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Received Quantity</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <input type="number" name="receivedQuantity" class="form-control"
                             [(ngModel)]="currentEditingItem.receivedQuantity" placeholder="Enter Received Quantity">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Broken Quantity</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <input type="number" name="brokenQuantity" class="form-control"
                             [(ngModel)]="currentEditingItem.brokenQuantity" placeholder="Enter Broken Quantity">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Wrong Item Quantity</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <input type="number" name="wrongItemQuantity" class="form-control"
                             [(ngModel)]="currentEditingItem.wrongItemQuantity" placeholder="Enter Wrong Item Quantity">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-12">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Add Note</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <textarea class="form-control" [(ngModel)]="currentEditingItem.note" placeholder="Add Note"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="d-flex gap-2 justify-content-end mb-2" *ngIf="isEditing">
                <button class="btn add-btn" (click)="updateReport()">Update</button>
                <!-- <button class="btn cancel-btn">Cancel</button> -->
              </div>
              
    </div>

        <div class="mt-3 section-div" *ngIf="selectedOrder?.rmaproducts?.length > 0">
            <div class="sec d-flex justify-content-between align-items-center">
                <h2>RMA Item </h2>
                    <!-- <button class="btn send-btn" (click)="sendToRMA()">
                        Send to RMA
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="20" height="20" rx="5" stroke="#090909" stroke-opacity="0.5"
                                stroke-width="1.5" />
                            <path d="M11.5 16L11.5 10" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.5 10L11.5 10" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11.5 7L11.5 6" stroke="#090909" stroke-opacity="0.5" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button> -->
            </div>
            <div class="table-container p-2">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="one">
                                    <div class="table-data d-flex gap-2">
                                        <!-- <input class="form-check-input" type="checkbox" [(ngModel)]="allChecked" -->
                                            <!-- (change)="toggleAllCheckboxes($event)"> -->
                                        No
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Item Name</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Order Quantity</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Received Quantity</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Broken Quantity</div>
                                </th>
                                <th scope="col">
                                    <div class="table-data">Wrong Item Quantity</div>
                                </th>
                                <th scope="col" class="two"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container class="w-100" *ngIf="loading">
                                <tr class="w-100">
                                    <td colspan="7" class="my-0 border-bottom-0 p-0">
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </td>
                                </tr>
                            </ng-container >
                            <tr *ngFor="let item of selectedOrder?.rmaproducts; let i = index">
                                <td>
                                    <div class="table-data gap-2 d-flex">
                                        <!-- <input class="form-check-input" type="checkbox" [(ngModel)]="item.checked" -->
                                            <!-- (change)="onCheckboxChange()"> -->
                                        {{ i + 1 }}
                                    </div>
                                </td>
                                <td>
                                    <div class="table-data">{{item?.product.materialId}}</div>
                                </td>
                                <td>
                                    <div class="table-data">{{item.quantity}}</div>
                                </td>
                                <td>
                                    <div class="table-data">{{item.receivedQuantity}}</div>
                                </td>
                                <td>
                                    <div class="table-data">{{item.brokenQuantity}}</div>
                                </td>
                                <td>
                                    <div class="table-data">{{item.wrongItemQuantity}}</div>
                                </td>
                                <!-- <td>
                                    <div
                                    class="table-data d-flex gap-1 w-100 justify-content-end"
                                    (click)="toggleEdit(item, i)"
                                  >
                                    <button class="btn" matTooltip="Edit">
                                      <img src="../../../../../assets/icons/Union.png" alt="" />
                                    </button>
                                  </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="row p-2" *ngIf="isEditing">
                <div class="col-md-4">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Received Quantity</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <input type="number" name="receivedQuantity" class="form-control"
                             [(ngModel)]="currentEditingItem.receivedQuantity" placeholder="Enter Received Quantity">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Broken Quantity</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <input type="number" name="brokenQuantity" class="form-control"
                             [(ngModel)]="currentEditingItem.brokenQuantity" placeholder="Enter Broken Quantity">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Wrong Item Quantity</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <input type="number" name="wrongItemQuantity" class="form-control"
                             [(ngModel)]="currentEditingItem.wrongItemQuantity" placeholder="Enter Wrong Item Quantity">
                    </div>
                  </div>
                </div>
              
                <div class="col-md-12">
                  <div class="input-div input-div-no-pad">
                    <div class="d-flex justify-content-between align-items-center">
                      <div><label for="">Add Note</label></div>
                      <div class="star">*</div>
                    </div>
                    <div>
                      <textarea class="form-control" [(ngModel)]="currentEditingItem.note" placeholder="Add Note"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="d-flex gap-2 justify-content-end mb-2">
                <button class="btn add-btn" (click)="updateReport()">Update</button>
                <button class="btn cancel-btn">Cancel</button>
              </div> -->
              
    </div>
</div>
</div>