<div class="container-fluid ">
    <div class="row">
        <div class="dash-div">
            <div class="p-3 border rounded-4 bg-white">
                <h1 class="mb-0">Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <app-statscards></app-statscards>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-inventory-demand></app-inventory-demand>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-vendors-and-inventory-evaluation></app-vendors-and-inventory-evaluation>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-pending-requests-dashboard></app-pending-requests-dashboard>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-requests-chart></app-requests-chart>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-employee-expenditures></app-employee-expenditures>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-vendor-performance-table></app-vendor-performance-table>
                </div>
            </div>
        </div>
    </div>
</div>