<div class="container-fluid ">
    <div class="row">
        <div class="dash-div">
            <div class="p-3 border rounded-4 bg-white">
                <h1 class="mb-0">Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <app-statscards></app-statscards>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-monthly-yearly-spending></app-monthly-yearly-spending>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-categories-and-contracts></app-categories-and-contracts>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-pending-requests-dashboard></app-pending-requests-dashboard>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-spend-by-supplier></app-spend-by-supplier>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-spend-by-department></app-spend-by-department>
                </div>
                <div class="col-lg-4 col-md-6 my-1">
                    <app-new-invoices></app-new-invoices>
                </div>
            </div>
        </div>
    </div>
</div>