<div class="menu-div">
  <div class="headdiv">
    <div class="heading">
      <h1>Approvals</h1>
    </div>
    <div>
      <div>
        <div class="input-group date-range-input">
          <input
            type="text"
            id="dateRange"
            class="form-control"
            [(ngModel)]="dateRange"
            placeholder="Start date  →  End date"
            (focus)="showDatePicker()"
            readonly
          />
          <mat-icon class="event-icon">event</mat-icon>
        </div>
        <div *ngIf="showPicker" class="mycard p-3 mt-2">
          <div class="row">
            <div class="col">
              <label for="startDate">Start Date</label>
              <input
                type="date"
                id="startDate"
                class="form-control"
                [(ngModel)]="startDate"
              />
            </div>
            <div class="col">
              <label for="endDate">End Date</label>
              <input
                type="date"
                id="endDate"
                class="form-control"
                [(ngModel)]="endDate"
              />
            </div>
          </div>

          <div class="mt-3 d-flex justify-content-center gap-3">
            <button class="btn apply-btn" (click)="applyDateRange()">
              Apply
            </button>
            <button class="btn cancel-btn-filter" (click)="cancelDateRange()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-menu-div mt-3">
    <div class="parent-buttons-group pb-0 gap-2">
      <button
        class="btn parent-btn"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        routerLink="/business-admin/approvals/approved-hardware-requests"
      >
        Hardware Requests
      </button>
      <button
        class="btn parent-btn"
        routerLinkActive="active"
        routerLink="/business-admin/approvals/approved-purchase-requests"
      >
        Purchase Requests
      </button>
      <button
        class="btn parent-btn"
        routerLinkActive="active"
        routerLink="/business-admin/approvals/approved-rma-requests"
      >
        RMA Requests
      </button>
    </div>
    <div class="menu-secondary-group">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
