<div class="menu-div">
  <div class="order-types-tables">
    <div class="d-flex justify-content-end gap-2">
      <select class="form-select filter-select w-auto shadow-none"
      [(ngModel)]="selectedstatus" 
      (change)="filterBystatus()"
      >
        <option value="" disabled selected>Review Status</option>
        <option value="all" >All</option>
        <option  *ngFor="let s of status" [value]="status">{{status}}</option>

      </select>
      <select class="form-select filter-select w-auto shadow-none"
      [(ngModel)]="selectedSortOption" 
       (change)="sortData()">
        <option value="" disabled selected>sort</option>
        <option value="name">By Name</option>
        <option value="date">By Date</option>
      </select>
    </div>
    <div class="table-div">
      <div class="table-container p-0 mt-2">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="one">
                  <div class="table-data">No</div>
                </th>
                <th scope="col">
                  <div class="table-data">Employee Name</div>
                </th>
                <th scope="col">
                  <div class="table-data">Employee Email</div>
                </th>
                <th scope="col">
                  <div class="table-data">Description</div>
                </th>
                <th scope="col">
                  <div class="table-data">Date</div>
                </th>
                <th scope="col">
                  <div class="table-data">Status</div>
                </th>
                <th scope="col" class="two"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let item of paginatedData; let i = index">
                  <td>
                    <div class="table-data">
                      {{ i + 1 }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.employees[0].name }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.employees[0].email }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.description }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      {{ item.createdAt | date }}
                    </div>
                  </td>
                  <td>
                    <div class="table-data">
                      <div
                        class="status p-2"
                        [ngClass]="{
                          completed: item.availableProducts[0].status === 'Approved',
                          rejected: item.availableProducts[0].status === 'Rejected',
                          inactive: item.availableProducts[0].status === 'Pending'
                        }">
                        {{ item.availableProducts[0].status }}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="table-data d-flex gap-1 justify-content-end">
                      <button class="btn visibility" (click)="openDialog(item)" matTooltip="View Request">
                        <img src="../../../../../../assets/newicons/Eye.png" alt="">
                      </button>
                      <!-- <button class="btn" routerLink="/business-admin/purchase-request/purchase-request-form"
                        matTooltip="Edit Request"><img src="../../../../../assets/icons/Union.png"></button> -->
                      <button class="btn" (click)="deleterequest(item)"><img src="../../../../../assets/icons/Trash can.png"
                          matTooltip="Delete Request"></button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="Page navigation example" class="m-2">
        <ul class="pagination justify-content-start">
          <li class="page-item" [class.disabled]="!isPreviousPageAvailable()">
            <a class="paginator-button" (click)="previousPage()">
              <mat-icon>chevron_left</mat-icon>
            </a>
          </li>

          <ng-container *ngFor="let page of [].constructor(totalPages); let index = index">
            <li class="page-item" [ngClass]="{ 'active-page': currentPage === index + 1 }">
              <a class="paginator-button" (click)="goToPage(index + 1)">
                {{ index + 1 }}
              </a>
            </li>
          </ng-container>

          <li class="page-item" [class.disabled]="!isNextPageAvailable()">
            <a class="paginator-button" (click)="nextPage()">
              <mat-icon>chevron_right</mat-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>