<div>
    <div class="d-flex justify-content-between">
        <button class="btn filter-btn">
            <mat-icon>filter_list</mat-icon>
            <div class="color">Filter</div>
        </button>
        <div class="search-bar">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search" />
        </div>

    </div>
    <div class="table-container p-0 mt-2">
        <div class="table-responsive mt-3">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>SUPPLIER</th>
                        <th>DATE</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>00001</td>
                        <td>Christine Brooks</td>
                        <td>04 Sep 2019</td>
                        <td><span class="status completed">Completed</span></td>
                        <td class="d-flex">
                            <button class="btn">
                                <mat-icon class="action-icon">delete</mat-icon>
                            </button>
                            <button class="btn">
                                <mat-icon class="action-icon">edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>00002</td>
                        <td>Rosie Pearson</td>
                        <td>28 May 2019</td>
                        <td><span class="status processing">Processing</span></td>
                         <td class="d-flex">
                            <button class="btn">
                                <mat-icon class="action-icon">delete</mat-icon>
                            </button>
                            <button class="btn">
                                <mat-icon class="action-icon">edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>00003</td>
                        <td>Darrell Caldwell</td>
                        <td>23 Nov 2019</td>
                        <td><span class="status rejected">Rejected</span></td>
                         <td class="d-flex">
                            <button class="btn">
                                <mat-icon class="action-icon">delete</mat-icon>
                            </button>
                            <button class="btn">
                                <mat-icon class="action-icon">edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>00004</td>
                        <td>Gilbert Johnston</td>
                        <td>05 Feb 2019</td>
                        <td><span class="status completed">Completed</span></td>
                         <td class="d-flex">
                            <button class="btn">
                                <mat-icon class="action-icon">delete</mat-icon>
                            </button>
                            <button class="btn">
                                <mat-icon class="action-icon">edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
    

</div>