<div class="maindiv">
  <div class="headdiv">
    <div class="heading">
      <h1>Receiving</h1>
    </div>
    <div class="secondary-row">
      <div class="input-group">
        <input type="text" class="form-control input-group-form-control" placeholder="Search Received Orders"
          aria-label="Quick Search" (input)="onInputChange($event)">
        <button class="btn search-order-btn" type="button" id="button-addon2">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
<div class="main-menu-div p-2 bg-white rounded-4 mt-3">
  <div class="d-flex justify-content-end gap-2 my-2">
    <select class="form-select filter-select w-auto shadow-none"
    [(ngModel)]="selectedstatus" 
    (change)="filteredbystatus()">
      <option value="" disabled selected>Review Status</option>
      <option  *ngFor="let s of status" [value]="s">{{s}}</option>
    </select>

    <select class="form-select filter-select w-auto shadow-none"
    [(ngModel)]="selectedSortOption" 
    (change)="sortData()"
    >
      <option value="" disabled selected>sort</option>
      <option value="name">By Name</option>
      <option value="date">By Date</option>
      <option value="amount">By Amount</option>
    </select>
</div>
  <div class="table-container p-0 ">
    <div class="table-responsive">
      <table class="table table-hover mt-0">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="one">
              <div class="table-data"> No</div>
            </th>
            <th scope="col">
              <div class="table-data">Purchase Order No</div>
            </th>
            <!-- <th scope="col">
              <div class="table-data">Employee Name</div>
            </th> -->
            <th scope="col">
              <div class="table-data">Vendor Name</div>
            </th>
            <th scope="col">
              <div class="table-data">Requested Date</div>
            </th>
            <th scope="col">
              <div class="table-data">Total Amount</div>
            </th>
            <th scope="col">
              <div class="table-data">Review Status</div>
            </th>
            <th scope="col" class="two">
              <div class="table-data"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container class="w-100" *ngIf="loading">
            <tr class="w-100">
                <td colspan="7" class="my-0 border-bottom-0 p-0">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </td>
            </tr>
        </ng-container >
          <ng-container>
            <tr *ngFor="let order of paginatedData; let i=index">
              <td>
                <div class="table-data">
                  {{ i+1 }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ order.barcode }}
                </div>
              </td>
              <!-- <td>
                <div class="table-data">
                  {{ order.employeename }}
                </div>
              </td> -->
              <td>
                <div class="table-data">
                  {{ order.vendor[0].name }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ order.createdAt | date }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  {{ order.totalPrice | currency }}
                </div>
              </td>
              <td>
                <div class="table-data">
                  <div class="status p-2" [ngClass]="{
                    completed: order.adminStatus === 'Cleared',
                    rejected: order.adminStatus === 'In RMA',
                    inactive: order.adminStatus === 'Pending'
                  }">
                    {{ order.adminStatus }}
                  </div>
                </div>
              </td>
              <td>
                <div class="table-data">
                  <button 
                    class="btn" 
                    (click)="setOrder(order)" 
                    matTooltip="Review Order">
                    <div><img src="../../../../../assets/newicons/message square.png" alt=""></div>
                  </button>
                  <button class="btn" matTooltip="Delete Received Order">
                    <img src="../../../../../assets/icons/Trash can.png" alt="" />
                  </button>
                </div>
                
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <nav aria-label="Page navigation example" class="m-2">
        <ul class="pagination justify-content-start">
          <li class="page-item" [class.disabled]="!isPreviousPageAvailable()">
            <a class="paginator-button" (click)="previousPage()">
              <mat-icon>chevron_left</mat-icon>
            </a>
          </li>
    
          <ng-container
            *ngFor="let page of [].constructor(totalPages); let index = index"
          >
            <li
              class="page-item"
              [ngClass]="{ 'active-page': currentPage === index + 1 }"
            >
              <a class="paginator-button" (click)="goToPage(index + 1)">
                {{ index + 1 }}
              </a>
            </li>
          </ng-container>
    
          <li class="page-item" [class.disabled]="!isNextPageAvailable()">
            <a class="paginator-button" (click)="nextPage()">
              <mat-icon>chevron_right</mat-icon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>