@import url(../../../../styles/table.css);

.review-btn, .review-btn:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #0F4D50;
padding: 5px ;
gap: 10px;
border-radius: 4px ;
color: white;
}