  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
 
  
  .text-end {
    text-align: right;
  }
  
  .alert {
    margin-top: 20px;
  }
  .table-container {
    background-color: white;
    border-radius: 16px;
    padding: 10px;
}

thead tr th {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    white-space: nowrap;
    background-color: #e6ead7 ;
}

.one {
    border-radius: 14px 0px 0px 0px;
}
.table-responsive::-webkit-scrollbar{
    width: 0px;
}
.two {
    border-radius: 0px 14px 0px 0px;
}

td {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;

}

.table-data {
    display: flex;
    align-items: center;
    height: 3rem;
}
 .btn-success{
  background-color: #b2ce6d;
  color: white;
  border: none;
}
.btn-warning{
  background-color: #a3c4d8 ;
  color: white;
  border: none;
}