<div class="container-fluid my-2">
    <div class="headdiv">
        <h1>Receiving</h1>

    </div>


    <div class="table-container p-0  mt-3">
        <div class="table-responsive">
            <table class="table table-hover mt-0">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col" class="one">
                            <div class="table-data">
                                Purchase Order No
                            </div>
                        </th>
                        <th scope="col">
                            <div class="table-data">
                                Employee Name
                            </div>
                        </th>
                        <th scope="col">
                            <div class="table-data">
                                Vendor
                            </div>
                        </th>
                        <th scope="col">
                            <div class="table-data">
                                Requested Date
                            </div>
                        </th>
                        <th scope="col" class="two">
                            <div class="table-data">
                                
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr *ngFor="let order of allOrders">
                            <td>
                                <div class="table-data">
                                    {{ order.purchaseorderno }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    {{ order.employeename }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    {{ order.vendor }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    {{ order.requesteddate }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data">
                                    <button class="btn "
                                        (click)="purchaseOrderNo = order.purchaseorderno; searchOrder()"><mat-icon>visibility</mat-icon></button>
                                </div>
                            </td>
                        </tr>


                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="selectedOrder">
        <h4>Order Details</h4>
        <div class="card p-3 mb-3">
            <p><strong>Order No:</strong> {{ selectedOrder.purchaseorderno }}</p>
            <p><strong>Vendor:</strong> {{ selectedOrder.vendor }}</p>
        </div>

        <div *ngFor="let product of selectedOrder.productdetails">
            <h5 class="mt-4">{{ product.name }}</h5>
            <div *ngFor="let item of product.items" class="card p-3 mb-3 shadow-sm">
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-3">
                        <label class="fw-bold">{{ item.itemname }} - ${{ item.price }}</label><br />
                        <small>Ordered: {{ item.quantityOrdered }}</small>
                    </div>
                    <div class="col-md-2 col-sm-6 mb-3">
                        <label>Received Quantity</label>
                        <input type="number" class="form-control" [(ngModel)]="item.quantityReceived"
                            placeholder="Enter received quantity" />
                    </div>
                    <div class="col-md-2 col-sm-6 mb-3">
                        <label>Broken Quantity</label>
                        <input type="number" class="form-control" [(ngModel)]="item.brokenQuantity"
                            placeholder="Enter broken quantity" />
                    </div>
                    <div class="col-md-2 col-sm-6 mb-3">
                        <label>Wrong Item Quantity</label>
                        <input type="number" class="form-control" [(ngModel)]="item.wrongItemQuantity"
                            placeholder="Enter wrong quantity" />
                    </div>
                    <div class="col-md-2 col-sm-12 mb-3">
                        <label>Barcode</label>
                        <input type="text" class="form-control" [(ngModel)]="item.barcode" (blur)="checkBarcode(item)"
                            placeholder="Scan or enter barcode" />
                        <div *ngIf="item.barcodeMismatch" class="text-danger mt-1">
                            <small>Barcode does not match!</small>
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button class="btn btn-warning me-2"
                        (click)="addDiscrepancy(item.itemname, 'Broken Quantity: ' + item.brokenQuantity)"
                        *ngIf="item.brokenQuantity && item.brokenQuantity > 0">Add Broken Discrepancy</button>
                    <button class="btn btn-warning me-2"
                        (click)="addDiscrepancy(item.itemname, 'Wrong Item Quantity: ' + item.wrongItemQuantity)"
                        *ngIf="item.wrongItemQuantity && item.wrongItemQuantity > 0">Add Wrong Item Discrepancy</button>
                    <button class="btn btn-warning" (click)="addDiscrepancy(item.itemname, 'Quantity Mismatch')"
                        *ngIf="item.quantityOrdered !== item.quantityReceived">Add Quantity Discrepancy</button>
                </div>
            </div>
        </div>

        <div *ngIf="discrepancies.length > 0" class="my-4">
            <h4>Discrepancies Report</h4>
            <table class="table table-danger">
                <thead>
                    <tr>
                        <th>Discrepancy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let discrepancy of discrepancies">
                        <td>{{ discrepancy }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger" (click)="confirmSendBackToVendor()">Send Items Back to Vendor</button>
        </div>

        <div *ngIf="successfulItems.length > 0" class="my-4">
            <h4>Successfully Received Items</h4>
            <table class="table table-success">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Quantity Received</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of successfulItems">
                        <td>{{ item.itemname }}</td>
                        <td>{{ item.quantityReceived }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-success" (click)="submitReport()">Submit Report</button>
        </div>
    </div>

    <div *ngIf="!selectedOrder && purchaseOrderNo" class="alert alert-danger mt-4" role="alert">
        Order not found.
    </div>
</div>