<div class="menu-div">
    <div class="headdiv ">
        <div class="heading">
            <h1>Requests </h1>
        </div>
    </div>
    <div class="main-menu-div mt-3">
        <div class="parent-buttons-group pb-0 gap-2">
            <button class="btn parent-btn" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }" routerLink="/business-admin/requests/hardware-requests">Hardware Requests</button>
            <button class="btn parent-btn" routerLinkActive="active" routerLink="/business-admin/requests/rma-requests">RMA Requests</button>
        </div>
        <div class="menu-secondary-group bg-white">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
