<div class="container-fluid">
  <div class="container d-flex justify-content-center flex-column align-items-center vh-100">
    <div class="onboard-head d-flex justify-content-start margin">
      <h1 class="mb-4 d-flex">
        <div>Cores</div>
        <div class="color">Edge</div>
      </h1>
    </div>

    <div class="card bg-white border-0 rounded-4 p-4">
      <h2 class="text-start my-3">Change Password</h2>
      <p class="text-start text-muted mb-4">Enter new password for <strong>{{ email }}</strong></p>

      <form [formGroup]="recoverForm" (ngSubmit)="changePassword()">
        <!-- Password Input -->
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <div class="input-group">
            <span class="input-group-text">
              <mat-icon (click)="hide = !hide">{{ hide ? 'lock' : 'lock_open' }}</mat-icon>
            </span>
            <input
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter Password"
              required />
          </div>
          <small class="text-danger" *ngIf="recoverForm.controls['password'].invalid && recoverForm.controls['password'].touched">
            Password must be at least 6 characters.
          </small>
        </div>

        <!-- Confirm Password Input -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <div class="input-group">
            <span class="input-group-text">
              <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword">
                {{ hideConfirmPassword ? 'lock' : 'lock_open' }}
              </mat-icon>
            </span>
            <input
              [type]="hideConfirmPassword ? 'password' : 'text'"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              required />
          </div>
          <!-- <small class="text-danger" *ngIf="recoverForm.errors?.mismatch && recoverForm.controls['confirmPassword'].touched">
            Passwords do not match.
          </small> -->
          <small class="text-danger" *ngIf="recoverForm.getError('mismatch') && recoverForm.controls['confirmPassword'].touched">
            Passwords do not match.
          </small>
          
        </div>

        <!-- Submit Button -->
        <div class="mt-3">
          <button type="submit" class="btn btn-primary w-100" [disabled]="recoverForm.invalid || isLoading">
            {{ isLoading ? 'Processing...' : 'Change Password' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
